{% extends 'base.html' %}
{% block head %}
    <title>{{ address_book.first_name }} {{ address_book.last_name }}</title>
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="col-md-7">
        <div class="card p-3 py-4">
            {% if address_book.image %}
                <div class="text-center">
                    <img src="{{ address_book.image.url }}" width="200" height="200" alt="">
                </div>
            {% else %}
                <div class="text-center">
                    <img src="/media/default.jpg" width="200" height="200" alt="">
                </div>
            {% endif %}
            <div class="text-lg-left">
                <ul>
                    <li><h4>Fullname: {{ address_book.first_name }} {{ address_book.last_name }}</h4></li>
                    <li><h4>Country: {{ address_book.country.name }}</h4></li>
                    <li><h4>City: {{ address_book.city }}</h4></li>
                    <li><h4>Address: {{ address_book.street }}</h4></li>
                    <li><h4>Phone number: {{ address_book.phone_number }}</h4></li>
                    <li><h4>URL: {{ address_book.url }}</h4></li>

                </ul>
                <div class="text-center">
                    <a href="{{ request.META.HTTP_REFERER }}"><button class="btn btn-secondary px-4">Go Back</button></a>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

