{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head %}
    <title>Edit contact</title>
{% endblock %}
{% block content %}
    <h1>Edit contact</h1>
    <form action="{% url 'edit-contact' object.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}
            {% for key, value in form.errors.items %}
                <div class="alert alert-error col-lg-12">
                    {{ value | striptags }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="form-row">
            <div class="form-group col-sm-3">
                {{ form.first_name|as_crispy_field }}
            </div>
            <div class="form-group col-sm-3">
                {{ form.last_name|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-3">
                {{ form.phone_number|as_crispy_field }}
            </div>
            <div class="col-sm-3">
                {{ form.url|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-2">
                {{ form.country|as_crispy_field }}
            </div>
            <div class="col-sm-2">
                {{ form.city|as_crispy_field }}
            </div>
            <div class="col-sm-2">
                {{ form.street|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-3">
                {{ form.image|as_crispy_field }}
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Update contact</button>
    </form>
{% endblock %}
